* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(207, 208, 209);

}

body {
  background-color: #0f172a;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  line-height: 1.8;
  display: block;
}

/*Nav Animation*/
.nav__link--underline {
  position: relative;
  text-decoration: none;
}

.nav__link--underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0;
  height: 3px;

  background-color: rgb(0, 110, 255);
  transition: width 0.4s ease;
}

.nav__link--underline:hover::after {
  width: 100%;
}

.nav__link--signup {
  padding: 10px;
  border-radius: 100px;
  transition: all 800ms ease;
}

.nav__link--signup:hover {
  background-color: rgb(0, 110, 255);
  color: white;
}

/*Landing*/

.landing {
  display: inline-block;
  display: flex;
}

.nav__link--list {
  padding-left: 1000px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 25px;
  animation: fade-up 600ms 1000ms backwards;
}

.page-title {
  display: flex;
  margin: 30px;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
  padding-left: 100px;
  font-size: 25px;
  animation: fade-up 600ms 1000ms backwards;
}

.page__title--img {
  overflow: hidden;
  border-radius: 8px;
  height: 100px;
  width: 100px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  animation: fade-up 600ms 1000ms backwards;
}

.text--color {
  color: rgb(0, 110, 255);
}

/*Get Started*/

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  margin-left: 100px;
  padding: 50px;
}

.header__customers {
  width: 500px;
  max-width: 100%;
  margin-top: -40px;
  display: flex;
  animation: fade-up 400ms 350ms backwards;
}

.header__img {
  width: 500%;
  max-width: 768px;
  overflow: hidden;
  border-radius: 12px;
  margin-left: 20px;
  animation: fade-up 400ms 600ms backwards;
}

.header__description h2 {
  text-decoration: underline;
  font-size: 35px;
  animation: fade-up 400ms 900ms backwards;
}

.header__description--para {
  margin: 32px 0px;
  animation: fade-up 400ms 800ms backwards;
}

.header__email {
  margin: 25px auto;
  animation: fade-up 400ms 600ms backwards;
}

.header__customers--title {
  color: grey;
  animation: fade-up 400ms 400ms backwards;
}

.header__email--input {
  font-size: xx-large;
  position: absolute;

  z-index: 1;
  border-radius: 500px;
  border-style: solid;
  border-image: none;
  border: 4px solid #d9e1ea;
  padding: 20px 192px 20px 32px;
  transform: scale(1);
  transition: all 800ms ease;
}

.header__email--btn {
  position: relative;
  margin: 11px;
  z-index: 2;
  left: 350px;
  font-size: xx-large;
  padding: 12px;
  border-radius: 500px;
  background-color: rgb(0, 110, 255);
  color: white;
  transform: scale(1);
  transition: 500ms ease;
  border: none;
}

.header__email--input:hover {
  border-color: rgb(0, 110, 255);
  box-shadow: 0 0 16px;
  transform: scale(1.03);
}

.header__email--btn:hover {
  color: lightgrey;
  background-color: rgb(29, 92, 175);
  transform: scale(0.97);
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Features*/

.features__title {
  text-align: center;
  font-size: x-large;
  margin-top: 200px;
}

.features__title h1 {
  font-size: 50px;
  text-decoration: underline;
}

.features__subtitle {
  font-size: 20px;
}

.feature__img {
  width: 125px;
  max-width: 100%;
}

.row__narrow {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 70px 90px;

  margin-top: 80px;
}

.feature__row {
  gap: 20px;
}

.feature__img--wrapper {
  width: 300px;
  min-width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__title {
  text-decoration: underline;
}

/*Latest Product*/

.latest-product {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  max-width: none;

  margin: 0;
  padding: 250px 70px 0 70px;
}

.latest-title {
  position: relative;
  font-size: large;
  left: -500px;
}

.latest-title h1 {
  text-decoration: underline;
  margin: 20px;
}

.latest__para {
  padding-left: 20px;
}

.latest__para--text {
  font-size: 22px;
  width: 900px;
  max-width: 900px;
  flex-shrink: 0;
}

.latest__ON button {
  display: flex;
  align-items: center;
  margin: 20px;

  font-size: xx-large;
  border-radius: 500px;
  border: none;
  padding: 8px;
  color: white;
  background-color: rgb(0, 110, 255);
  transition: all 500ms ease;
}

.latest__ON--btn:hover {
  color: lightgrey;
  background-color: rgb(29, 92, 175);
  transform: scale(0.97);
}

.latest__product--wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.latest__product--img {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 8px;
  width: 800px;
  max-width: 800px;
  margin: auto;
  position: absolute;
  z-index: 2;
}


/*Values*/
.company__values {
  position: relative;
  display: flex;
  justify-content: space-around;

  left: -460px;
  padding: 70px;
}


.company__values--title {
  position: relative;
  font-size: large;
  width: 500px;
  min-width: 100px;
  margin-top: 200px;
}

.company__values--title h1 {
  font-size: 50px;
  margin: 20px;
}

.values__title--para {
  margin: 20px;
  width: 700px;
  min-width: 100px;
}

.values__img--wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 200px;
}

.company__values--img{
  width: 800px;
  max-width: 800px;
  right: -150px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.values__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  width: 700px;
}

.value__LM button {
  display: grid;
  align-items: center;
  margin-top: 10px;
  margin-left: 0;

  font-size: x-large;
  border-radius: 500px;
  border: none;
  padding: 8px;
  color: white;
  background-color: rgb(0, 110, 255);
  transition: all 500ms ease;
}

.value__LM--btn:hover{
  color: lightgrey;
  background-color: rgb(29, 92, 175);
  transform: scale(0.97);
}





/*MUST be updated once project is finished*/


/* ============================= */
/* RESPONSIVE DESIGN */
/* ============================= */


/* LARGE TABLETS / SMALL LAPTOPS */
@media (max-width: 1200px) {

  .nav__link--list {
    padding-left: 200px;
    gap: 25px;
    font-size: 20px;
  }

  .page-title {
    padding-left: 30px;
  }

  .row {
    max-width: 100%;
    margin-left: 0;
    padding: 50px;
  }

  .header__img {
    width: 100%;
    max-width: 600px;
  }

  .features__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 0 40px;
  }

  .latest-product {
    padding: 180px 40px 0;
  }

  .latest-title {
    left: 0;
  }

  .latest__para--text {
    width: 100%;
    max-width: 650px;
  }

  .latest__product--img {
    width: 500px;
    max-width: 500px;
  }

  .company__values {
    left: 0;
    padding: 50px;
  }

  .company__values--img {
    width: 550px;
    max-width: 550px;
    right: 0;
  }

  .values__title--para {
    width: 100%;
  }

  .values__list {
    width: 100%;
  }
}


/* TABLETS */
@media (max-width: 900px) {

  /* NAV */

  .landing {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .page-title {
    margin: 15px;
    padding: 15px;
  }

  .nav__link--list {
    padding-left: 0;

    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    font-size: 18px;
  }


  /* HERO */

  .row {
    flex-direction: column;

    margin-left: 0;
    padding: 40px 30px;

    text-align: center;
  }

  .header__description {
    width: 100%;
  }

  .header__img--wrapper {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 60px;
  }

  .header__img {
    width: 90%;
    max-width: 600px;
    margin-left: 0;
  }

  .header__description--para {
    max-width: 700px;
    margin: 30px auto;
  }

  .header__email {
    position: relative;

    width: 100%;
    max-width: 500px;

    margin: 25px auto;
  }

  .header__email--input {
    position: relative;

    width: 100%;

    font-size: 20px;

    padding: 18px 150px 18px 25px;
  }

  .header__email--btn {
    position: absolute;

    right: 8px;
    left: auto;
    top: 50%;

    transform: translateY(-50%);

    margin: 0;

    font-size: 18px;
  }

  .header__customers {
    margin: 0 auto;
    width: 400px;
  }


  /* FEATURES */

  .features__title {
    margin-top: 120px;
    padding: 0 25px;
  }

  .features__title h1 {
    font-size: 40px;
  }

  .features__list {
    grid-template-columns: repeat(2, 1fr);

    gap: 50px 30px;

    padding: 0 30px;
  }

  .feature__img--wrapper {
    width: 100%;
  }


  /* LATEST PRODUCT */

  .latest-product {
    flex-direction: column;

    padding: 150px 30px 0;

    text-align: center;
  }

  .latest-title {
    position: static;
    left: auto;

    width: 100%;
  }

  .latest__para {
    padding-left: 0;
  }

  .latest__para--text {
    width: 100%;
    max-width: 700px;

    margin: 0 auto;
  }

  .latest__ON button {
    margin: 25px auto;
  }

  .latest__product--wrapper {
    position: relative;

    width: 100%;

    margin-top: 50px;
  }

  .latest__product--img {
    position: relative;

    width: 90%;
    max-width: 650px;

    margin: 0 auto;
  }


  /* VALUES */

  .company__values {
    flex-direction: column;

    left: 0;

    padding: 80px 30px;

    text-align: center;
  }

  .company__values--title {
    width: 100%;

    margin-top: 50px;
  }

  .values__title--para {
    width: 100%;
    max-width: 700px;

    margin: 20px auto;
  }

  .values__list {
    width: 100%;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

    margin-top: 40px;
  }

  .values__img--wrapper {
    padding: 70px 0;
  }

  .company__values--img {
    width: 80%;
    max-width: 600px;

    right: 0;
  }

  .value__LM button {
    margin: 30px auto;
  }
}


/* PHONES */
@media (max-width: 600px) {

  p {
    font-size: 16px;
    line-height: 1.6;
  }


  /* NAV */

  .page-title {
    flex-direction: column;
    gap: 10px;
  }

  .page__title--img {
    width: 70px;
    height: 70px;
  }

  .page-title h1 {
    font-size: 24px;
  }

  .nav__link--list {
    gap: 15px;

    padding: 10px;

    font-size: 16px;
  }


  /* HERO */

  .row {
    padding: 30px 20px;
  }

  .header__description h2 {
    font-size: 28px;
  }

  .header__email {
    max-width: 100%;
  }

  .header__email--input {
    font-size: 16px;

    padding:
      16px
      115px
      16px
      20px;
  }

  .header__email--btn {
    font-size: 14px;

    padding: 12px;
  }

  .header__customers {
    width: 100%;
  }

  .header__img {
    width: 100%;
  }


  /* FEATURES */

  .features__title {
    margin-top: 80px;
  }

  .features__title h1 {
    font-size: 32px;
  }

  .features__subtitle {
    font-size: 16px;
  }

  .features__list {
    grid-template-columns: 1fr;

    padding: 0 25px;

    gap: 50px;
  }

  .feature {
    text-align: center;
  }

  .feature__img {
    width: 100px;
  }


  /* LATEST PRODUCT */

  .latest-product {
    padding:
      100px
      20px
      0;
  }

  .latest-title h1 {
    margin: 20px 0;

    font-size: 30px;
  }

  .latest__para--text {
    font-size: 17px;
  }

  .latest__ON button {
    font-size: 20px;
  }

  .latest__product--img {
    width: 100%;
    max-width: 100%;
  }


  /* VALUES */

  .company__values {
    padding: 60px 20px;
  }

  .company__values--title h1 {
    font-size: 34px;

    margin: 20px 0;
  }

  .values__list {
    grid-template-columns: 1fr;

    gap: 40px;
  }

  .company__values--img {
    width: 100%;
  }

  .values__img--wrapper {
    padding: 50px 0;
  }

  .value__LM button {
    font-size: 18px;
  }
}


/* VERY SMALL PHONES */
@media (max-width: 400px) {

  .nav__link--list {
    font-size: 14px;

    gap: 12px;
  }

  .header__description h2 {
    font-size: 24px;
  }

  .header__email--input {
    padding-right: 105px;
  }

  .header__email--btn {
    font-size: 12px;
  }

  .features__title h1 {
    font-size: 28px;
  }

  .latest-title h1 {
    font-size: 27px;
  }

  .company__values--title h1 {
    font-size: 29px;
  }
}